<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Payment Transactions App</span>

  <!-- Spacer to push the greeting to the right -->
  <span class="spacer"></span>

  <!-- Display logged-in user's alias -->
  <span>Hello, {{ loggedInUserAlias }}!</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class = "sidenav">
    <mat-nav-list>
      <div class="navItems">
        <mat-list-item>
          <a matLine routerLink="/" class = "itemText">Home</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a matLine routerLink="/incoming-transactions" class="itemText">Incoming Transactions</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a matLine routerLink="/outgoing-transactions" class="itemText">Outgoing Transactions</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a matLine routerLink="/add-transaction" class = "itemText">Add Transaction</a>
        </mat-list-item>
        <mat-divider></mat-divider>
<!--        <mat-list-item>-->
<!--          <a matLine routerLink="/remove-transaction" class = "itemText">Remove Transaction</a>-->
<!--        </mat-list-item>-->
<!--        <mat-divider></mat-divider>-->
        <mat-list-item class="logout-item" (click)="logout()">
          <span matLine class="itemText">Logout</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
